{% extends 'base.html' %}
{% block content %}

    <!-- Display paragraph: If there are no plants yet-->
    {% if not plants and profile %}
        <p class="no-articles">No plants yet</p>
    {% elif profile and plants %}
        <!-- Display div "plant" with information about every plant (if any)-->
        <section id="catalogue">
                {% for plant in plants %}
                <!-- first plant-->
                <div class="plant-card">
                    <div class="image-wrap">
                        <!-- plant image -->
                        <img src="{{ plant.image_url }}"
                             alt="{{ plant.name }}">
                    </div>
                    <!-- plant name -->
                    <h3>{{ plant.name }}</h3>
                    <!-- plant description -->
                    <h1>{{ plant.description|slice:20 }}</h1>
                    <div class="details-buttons">
                        <!-- plant details button -->
                        <a href="{% url 'plant details' pk=plant.pk %}" class="details-btn">Details</a>
                    </div>
                </div>
        {% endfor %}
    {% endif %}
        </section>

{% endblock %}
